body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f2f2;
  }
  
  .registration-form {
    font-family: 'Kumar One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 511px;
    height: auto;
    border-radius: 50px;
    border: 1px solid #000;
    background: #fff;
    box-shadow: 0px 6px 50px 6px rgba(0, 0, 0, 0.25);
    padding: 20px;
  }
  
  .title {
    font-family: 'Kumar One', sans-serif;
  }
  
  h2 {
    color: #000;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    margin-bottom: 20px;
  }
  
  .text {
    display: flex;
    width: 395px;
    padding: 10px 15px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid #e2e1e5;
    background: #fff;
    margin-bottom: 20px;
  }
  
  .register {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: 'Kumar One', sans-serif;
    width: 133px;
    height: 51px;
    border-radius: 50px;
    border: none;
    background: #9d58a8;
    cursor: pointer;
  }
  
  .register:hover {
    background: #b067bd;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e2e1e5;
    font-size: 16px;
    margin-top: 5px;
  }
  
  input[type="submit"] {
    margin-top: 20px;
  }
  